<!-- <script>
$.ajax({
  url: '/',
  complete: function(data) {
    console.log(data);
  }
});
</script> -->

<!DOCTYPE html>
<html>
  <head>
    <style>
      body{background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
      h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
    </style>
  </head>
  <body>
    <h1> Welcome! </h1>
    <h1> <%= myData %> </h1>
    <!-- <script type="text/javascript">
         window.addEventListener('load', function(){
             alert('<%= myData %>');
         });
    </script> -->

  </body>
</html>


<form method="POST" action="/">
  Input a WORD!<input type="text" name="word" />
  <input type="submit" />
</form>
